In [2]:
import pandas as pd 
import numpy as np 
import os

# Assignment

In [3]:
#3
df_orders_pro_com = pd.read_pickle(r'C:\Users\ms207\Desktop\CF\4\19012022 Instacart Basket Analysis\02 Data\Prepared data\orders_products_combined.pkl')

In [4]:
#4
df_orders_pro_com.shape

(32434489, 11)

In [5]:
#5
df_combined_pro_com = pd.read_csv(r'C:\Users\ms207\Desktop\CF\4\19012022 Instacart Basket Analysis\02 Data\Prepared data\orders_products_combined.csv', index_col = False)

In [6]:
df_orders_clean = pd.read_csv(r'C:\Users\ms207\Desktop\CF\4\19012022 Instacart Basket Analysis\02 Data\Prepared data\orders_clean.csv', index_col = False)

In [7]:
df_merged_large = df_orders_clean.merge(df_combined_pro_com, on = ['order_id'])

In [8]:
df_merged_check = df_combined_pro_com.merge(df_orders_clean, on = ['order_id'])

In [9]:
df_merged_check

,Unnamed: 0_x,order_id,user_id,eval_set,order_number_x,order_dow,order_hour_of_day_x,days_since_prior_order_x,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,Unnamed: 0.1,customer_number,order_number_y,orders_day_of_week,order_hour_of_day_y,days_since_prior_order_y
0,5,2398795,1,prior,2,3,7,15.0,196,1,1,both,1,1,1,2,3,7,15.0
1,6,2398795,1,prior,2,3,7,15.0,10258,2,0,both,1,1,1,2,3,7,15.0
2,7,2398795,1,prior,2,3,7,15.0,12427,3,1,both,1,1,1,2,3,7,15.0
3,8,2398795,1,prior,2,3,7,15.0,13176,4,0,both,1,1,1,2,3,7,15.0
4,9,2398795,1,prior,2,3,7,15.0,26088,5,1,both,1,1,1,2,3,7,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4186298,4472275,25155,28476,prior,37,3,12,1.0,27510,8,1,both,472315,472315,28476,37,3,12,1.0
4186299,4472276,25155,28476,prior,37,3,12,1.0,35371,9,1,both,472315,472315,28476,37,3,12,1.0
4186300,4472277,25155,28476,prior,37,3,12,1.0,17951,10,1,both,472315,472315,28476,37,3,12,1.0
4186301,4472278,2097279,28476,prior,38,4,12,1.0,41977,1,1,both,472316,472316,28476,38,4,12,1.0
4186302,4472279,2097279,28476,prior,38,4,12,1.0,41164,2,0,both,472316,472316,28476,38,4,12,1.0

In [13]:
#6
df_merged_large

,Unnamed: 0_x,Unnamed: 0.1,order_id,customer_number,order_number_x,orders_day_of_week,order_hour_of_day_x,days_since_prior_order_x,Unnamed: 0_y,user_id,eval_set,order_number_y,order_dow,order_hour_of_day_y,days_since_prior_order_y,product_id,add_to_cart_order,reordered,_merge
0,1,1,2398795,1,2,3,7,15.0,5,1,prior,2,3,7,15.0,196,1,1,both
1,1,1,2398795,1,2,3,7,15.0,6,1,prior,2,3,7,15.0,10258,2,0,both
2,1,1,2398795,1,2,3,7,15.0,7,1,prior,2,3,7,15.0,12427,3,1,both
3,1,1,2398795,1,2,3,7,15.0,8,1,prior,2,3,7,15.0,13176,4,0,both
4,1,1,2398795,1,2,3,7,15.0,9,1,prior,2,3,7,15.0,26088,5,1,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4186298,472315,472315,25155,28476,37,3,12,1.0,4472275,28476,prior,37,3,12,1.0,27510,8,1,both
4186299,472315,472315,25155,28476,37,3,12,1.0,4472276,28476,prior,37,3,12,1.0,35371,9,1,both
4186300,472315,472315,25155,28476,37,3,12,1.0,4472277,28476,prior,37,3,12,1.0,17951,10,1,both
4186301,472316,472316,2097279,28476,38,4,12,1.0,4472278,28476,prior,38,4,12,1.0,41977,1,1,both
4186302,472316,472316,2097279,28476,38,4,12,1.0,4472279,28476,prior,38,4,12,1.0,41164,2,0,both

In [18]:
df_merged_large['_merge'].value_counts()

both    4186303
Name: _merge, dtype: int64

In [20]:
#7
df_merged_large.to_pickle(r'C:\Users\ms207\Desktop\CF\4\19012022 Instacart Basket Analysis\03 Scripts\df_merged_large.pkl')